@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.header {
  margin-bottom: 32px;
}
.header-top {
  height: 44px;
  background-color: #005FAE;
}
.header-bottom {
  background-color: #F7F7F7;
  height: 44px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
  background-color: transparent;
}
.breadcrumb ol {
  margin: 0 0 16px 0;
  padding: 0;
}
.breadcrumb-item {
  font-size: 12px;
}
.breadcrumb-item__link {
  color: #666666;
}

.section__title {
  margin-bottom: 16px;
  color: #212121;
  font-weight: 500;
  font-size: 19px;
}
.section__title--header {
  font-size: 24px;
}
.section__back {
  display: flex;
  align-items: center;
}
.section__approval {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 16px 24px 24px 24px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  color: #424242;
}
.section__inner {
  margin-top: 16px;
}
.section__title {
  display: flex;
  align-items: center;
}
.section__buttons {
  margin-top: 8px;
}

.buttons__row {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons__row--grey {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}

.button {
  display: block;
}
.button__back {
  margin-left: 4px;
  color: #005FAE;
  font-size: 14px;
  font-weight: 400;
}
.button__view {
  display: flex;
  align-items: center;
}
.button__view::before {
  margin-right: 4px;
  display: block;
  width: 20px;
  height: 20px;
  content: url("../img/icons/ic_view.png");
}
.button__comment {
  display: flex;
  align-items: center;
  color: #999999;
}
.button__comment::before {
  margin-left: 24px;
  margin-right: 4px;
  display: block;
  width: 20px;
  height: 20px;
  content: url("../img/icons/ic_comment.png");
}
.button__work {
  padding: 10px 24px;
  border: 1px solid #00C346;
  background-color: transparent;
  border-radius: 3px;
  color: #00C346;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.button__work:hover {
  background-color: #00C346;
  color: #ffffff;
  transition: 0.2s linear;
}
.button__table {
  width: 60px;
  height: 24px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
}
.button__table--sell {
  background-color: #6199C6;
}
.button__up {
  display: none;
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 56px;
  height: 56px;
  background-color: #005FAE;
  border-radius: 100%;
  border: none;
}
.button__up:hover {
  opacity: 0.9;
  transition: 0.2s linear;
}

.search__form {
  margin-bottom: 32px;
  position: relative;
  width: 80%;
}
.search__form input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 2px solid #005FAE;
  border-radius: 3px;
  outline: none;
  background: #ffffff;
  color: #999999;
}
.search__form button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 64px;
  height: 40px;
  border: none;
  background: #005FAE;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search__form button::before {
  content: "";
  font-family: FontAwesome;
  font-size: 16px;
  color: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery img {
  margin-right: 8px;
  margin-bottom: 8px;
}

.adv__inner--item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  height: 320px;
  background-color: #FAFAFA;
}
.adv__inner--item span {
  color: #999999;
  font-size: 20px;
  line-height: 30px;
}

.table {
  width: 100%;
  color: #424242;
  font-size: 12px;
}
.table thead {
  background-color: #f0f0f0;
  border-radius: 3px;
}
.table thead th {
  padding: 16px 0;
}
.table td {
  padding: 8px 0;
  border-bottom: 1px #E0E0E0 solid;
}
.table__name {
  text-align: center;
}
.table__view {
  text-align: center;
}
.table__text {
  color: #005FAE;
  font-size: 12px;
}
.table__text--sell::before {
  margin-right: 16px;
  margin-left: 16px;
  content: "Продам";
  padding: 4px;
  width: 60px;
  height: 16px;
  border-radius: 3px;
  background-color: #005FAE;
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
}
.table__text--buy::before {
  margin-right: 16px;
  margin-left: 16px;
  content: "Куплю";
  padding: 4px 8px;
  width: 60px;
  height: 16px;
  border-radius: 3px;
  background-color: #EE6C4D;
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
}
.table__profile {
  display: flex;
  align-items: center;
}
.table__profile--text {
  margin-left: 8px;
}
.table__profile--text_name {
  color: #005FAE;
  font-size: 12px;
  font-weight: 400;
}
.table__profile--text_company {
  margin: 0;
  color: #999999;
}

.logo {
  width: 180px;
  height: auto;
}

.about {
  width: 100%;
  padding: 16px;
  background-color: #f0f0f0;
}
.about__text {
  margin-top: 0;
  margin-bottom: 8px;
  color: #424242;
  font-weight: 400;
  font-size: 14px;
}
.about__text--hidden {
  height: auto;
}
.about__text--show {
  display: none;
  margin: 8px 0;
  color: #005FAE;
  font-weight: 400;
  font-size: 14px;
}
.about__text .black {
  font-weight: 500;
}

.divider {
  margin-bottom: 16px;
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
}

.i-back {
  display: block;
  width: 20px;
  height: 20px;
  fill: #005FAE;
}
.i-approval {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  fill: #005FAE;
  cursor: pointer;
}
.i-view {
  width: 16px;
  height: 16px;
  fill: #424242;
}
.i-up {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media (max-width: 1112px) {
  .adv {
    display: none;
  }
}
@media (max-width: 1024px) {
  .button__up {
    display: block;
  }

  .about__text--hidden {
    height: 197px;
    overflow: hidden;
  }
  .about__text--show {
    display: block;
  }

  .logo {
    width: 120px;
    height: auto;
  }
}
@media (max-width: 991px) {
  .about__text--hidden {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media (max-width: 800px) {
  .table {
    border: 0;
  }
  .table__text {
    line-height: 20px;
  }
  .table__view {
    text-align: right;
  }
  .table__profile {
    justify-content: end;
  }
  .table thead {
    display: none;
  }
  .table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }
  .table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
  }
  .table td:last-child {
    border-bottom: 0;
  }
  .table td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}
@media (max-width: 568px) {
  .section__title {
    margin-bottom: 0;
  }
  .section__title--header {
    font-size: 20px;
  }
  .section h2 {
    margin: 0;
    padding: 0;
  }

  .button__work {
    padding: 8px 15px;
  }
}