$blue: #005FAE;
$bg: #E5E5E5;
$orange: #EE6C4D;
$green: #00C346;
$grey: #F7F7F7;
$black: #212121;


*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.header {
    margin-bottom: 32px;
    &-top {
        height: 44px;
        background-color: $blue;
    }
    &-bottom {
        background-color: $grey;
        height: 44px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
}

.breadcrumb {
    background-color: transparent;
    ol {
        margin: 0 0 16px 0;
        padding: 0;
    }
    &-item {
        font-size: 12px;
        &__link {
            color: #666666;
        }
    }
}

.section {
    &__title {
        margin-bottom: 16px;
        color: $black;
        font-weight: 500;
        font-size: 19px;
        &--header{
            font-size: 24px;
        }
    }
    &__back {
        display: flex;
        align-items: center;
    }
    &__approval {
        display: none;
        position: absolute;
        z-index: 5;
        padding: 16px 24px 24px 24px;
        background-color: #ffffff;
        font-size: 14px;
        line-height: 20px;
        color: #424242;
    }
    &__inner {
        margin-top: 16px;
    }
    &__title {
        display: flex;
        align-items: center;
    }
    &__buttons {
        margin-top: 8px;
    }
}

.buttons {
    &__row {
        position: relative;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--grey {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #999999;
        }
    }
}

.button {
    display: block;
    &__back {
        margin-left: 4px;
        color: $blue;
        font-size: 14px;
        font-weight: 400;
    }
    &__view {
        display: flex;
        align-items: center;
        &::before {
            margin-right: 4px;
            display: block;
            width: 20px;
            height: 20px;
            content: url("../img/icons/ic_view.png");
        }
    }
    &__comment {
        display: flex;
        align-items: center;
        color: #999999;
        &::before {
            margin-left: 24px;
            margin-right: 4px;
            display: block;
            width: 20px;
            height: 20px;
            content: url("../img/icons/ic_comment.png");
        }
    }
    &__work {
        padding: 10px 24px;
        border: 1px solid $green;
        background-color: transparent;
        border-radius: 3px;
        color: $green;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        &:hover {
            background-color: $green;
            color: #ffffff;
            transition: .2s linear;
        }
    }
    &__table {
        width: 60px;
        height: 24px;
        border-radius: 3px;
        border: none;
        color: #ffffff;
        font-weight: 500;
        font-size: 11px;
        &--sell {
            background-color: #6199C6;
        }
    }
    &__up {
        display: none;
        position: fixed;
        right: 24px;
        bottom: 24px;
        width: 56px;
        height: 56px;
        background-color: $blue;
        border-radius: 100%;
        border: none;
        &:hover {
            opacity: .9;
            transition: .2s linear;
        }
    }
}

.search {
    &__form {
        margin-bottom: 32px;
        position: relative;
        width: 80%;
        input {
            width: 100%;
            height: 40px;
            padding-left: 10px;
            border: 2px solid $blue;
            border-radius: 3px;
            outline: none;
            background: #ffffff;
            color: #999999;
        }
        button {
            position: absolute; 
            top: 0;
            right: 0px;
            width: 64px;
            height: 40px;
            border: none;
            background: $blue;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            &::before {
                content: "\f002";
                font-family: 'FontAwesome';
                font-size: 16px;
                color: #ffffff;
            }
          }
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    img {
        margin-right: 8px;
        margin-bottom: 8px;
    }
    &__swiper {
        display: none;
        width: 150px;
        &--slide {
            width: auto;
            height: 120px;
            img {
                width: 100%;
                height: 120px;
                object-fit: fill;
            }
        }    
    }
}

.adv {
    &__inner {
        &--item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            width: 100%;
            height: 320px;
            background-color: #FAFAFA;
            span {
                color: #999999;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}


.table {
    width: 100%;
    color: #424242;
    font-size: 12px;
    thead {
        background-color: #f0f0f0;
        border-radius: 3px;
        th {
            padding: 16px 0;
        }
    }
    td {
        
        padding: 8px 0;
        border-bottom: 1px #E0E0E0 solid;
    }

    &__name {
        text-align: center;
    }
    &__view {
        text-align: center;
    }
    &__text {
        color: $blue;
        font-size: 12px;
        &--sell {
            &::before {
                margin-right: 16px;
                margin-left: 16px;
                content: "Продам";
                padding: 4px;
                width: 60px;
                height: 16px;
                border-radius: 3px;
                background-color: $blue;
                color: #ffffff;
                font-weight: 500;
                font-size: 11px;
            }
        }
        &--buy {
            &::before {
                margin-right: 16px;
                margin-left: 16px;
                content: "Куплю";
                padding: 4px 8px;
                width: 60px;
                height: 16px;
                border-radius: 3px;
                background-color: $orange;
                color: #ffffff;
                font-weight: 500;
                font-size: 11px;
            }
        }
    }
    &__profile {
        display: flex;
        align-items: center;
        &--text {
            margin-left: 8px;
            &_name {
                color: $blue;
                font-size: 12px;
                font-weight: 400;
            }
            &_company {
                margin: 0;
                color: #999999;
            }
        }
    }
}

.logo {
    width: 180px;
    height: auto;
}

.about {
    width: 100%;
    padding: 16px;
    background-color: #f0f0f0;
    &__text {
        margin-top: 0;
        margin-bottom: 8px;
        color: #424242;
        font-weight: 400;
        font-size: 14px;
        &--hidden {
            height: auto;
        }
        &--show {
            display: none;
            margin: 8px 0;
            color: $blue;
            font-weight: 400;
            font-size: 14px;
        }
        .black {
            font-weight: 500;
        }
    }
}
   

.divider {
    margin-bottom: 16px;
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;

}

.i {
    &-back {
        display: block;
        width: 20px;
        height: 20px;
        fill: $blue;
    }
    &-approval {
        margin-right: 8px;
        width: 24px;
        height: 24px;
        fill: $blue;
        cursor: pointer;
    }
    &-view {
        width: 16px;
        height: 16px;
        fill: #424242;
    }
    &-up {
        width: 20px;
        height: 20px;
        fill: #ffffff;
    }
}

@media (max-width: 1112px) {
    .adv {
        display: none;
    }
}
@media (max-width: 1024px) {
    .button {
        &__up {
            display: block;
        }
    }
    .about {
        &__text {
            &--hidden {
                height: 197px;
                overflow: hidden;
            }
            &--show {
                display: block;
            }
        }
    }
    .logo {
        width: 120px;
        height: auto;
    }
}
@media (max-width: 991px) {
    .about {
        &__text {
            &--hidden {
                height: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
@media (max-width: 800px) {
    .table {
        border: 0;
        &__text {
            line-height: 20px;
        }
        &__view {
            text-align: right;
        }
        &__profile {
            justify-content: end;
        }
        thead {
            display: none;
        }
          tr {
            margin-bottom: 10px;
            display: block;
            border-bottom: 2px solid #ddd;
        }
          td {
            display: block;
            text-align: right;
            font-size: 13px;
            border-bottom: 1px dotted #ccc;
            border-right: 1px solid transparent;
            &:last-child {
                border-bottom: 0;
            }
            &::before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}
@media (max-width: 768px) {
    .gallery {
        display: none;
        &__swiper {
            margin: 8px auto 8px 0;
            display: block;
            
        }
    }
}
@media (max-width: 568px) {
    .section {
        &__title {
            margin-bottom: 0;
            &--header {
                font-size: 20px;
            }
        }
        h2 {
            margin: 0;
            padding: 0;
        }
    }
    .button {
        &__work {
            padding: 8px 15px;
        }
    }
}
@media (max-width: 492px) {
    .section {
        &__title {
            &--header {
                font-size: 18px;
            }
        }
    }
    .buttons {
        &__row {
            display: flex;
            flex-wrap: wrap;
            &--grey {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .button {
        &__work {
            margin: 8px auto 0 auto;
        }
    }
    .search {
        &__form {
            width: 90%;
        }
    }
    .table{
        &__profile {
            img {
                display: none;
            }
        }
    }
}




